body {
    margin: 0px; /* removes space between the body and all elements esp from the left */
}


.container {
    display: flex;/* make items be on same row */
    flex-wrap: wrap; /*  wrap items to occupy spaces as we enlarge and reduce the screen*/
    justify-content: center;
}
h1{
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 2px solid pink;
    width: 400px;
    border-right: 2px solid pink; 
    box-shadow: 6px 6px 8px #888888; /* this gives h1 BG box shadow*/
    margin-top: 10px;

}


img {
    width: 250px;
    height: 200px;
    margin: 10px;
    transition: all 1s; /* scale img in 1s*/
}
img:hover {
    transform: scale(1.1); /* img hovered will grow outward 1.1*/
}
